.maindiv{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 1px 2px #eee;
    padding-left: 30px;
    padding-right: 20px;
}

.logo{
    width: 170px;
    height: 25px; 
    padding-top: 15px;
}

.navbar{
    display: flex;
    padding-right: 20px;
}

.navbtn{
    padding: 20px;
    color: #666;
    cursor: pointer; 
}

.img{
    width: 1200px;
    height: auto;
}

.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 1px;
}

.invest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    
}

.investtxt{
    font-size: x-large;
    color: #424242;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
}

.signup{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.btn{
    background-color: #4285f4; 
    color: white; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 6px; 
    font-size: 16px; 
    cursor: pointer; 
}

.investinever{
    color: #424242;
    font-family: "Inter", serif;
    padding: 0px;
    margin: 0px;
    font-weight: 600;
}
